body {
 background-color: rgb(20, 20, 20);
 color : green;
}
h1, h2, h3, h4 {
    font-family: 'Lora', sans serif;
}
h1 {
    color : blue;
    font-weight:80;
    font-size: 20pt;
}
h2 { 
	width: 90;
 }
h3 {
  font-size: 18pt;
}

.film {
	width: 80;
}
.img-circle {
    border-radius: 10%;
}

div {
    background: white;
    border: 2px solid white;
    margin: 10px;
}

